@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bookmarklet{
	text-decoration: none;
	background-color: #343d46;
	display:block;
	color: #FFFFFF;
	float:left;
	cursor:move;
}
a.bookmarklet{
	text-decoration: none;
	color: #FFFFFF;
}
.alert-info {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid;
}
.close {
	color: #2a4d69;
  opacity: .6;
}
.alert-info {	
  color: #3C6B90;
  background-color: #e6eff6;
  border-color: #c0d7e9;
  margin-bottom:0;
}
.alert-info a {
  margin-left: 20px;
  cursor:move;
}
.alert-info a:hover {
  text-decoration: none;
}
.alert-info span {
	display: none;
}

i.fa.fa-bookmark {
  color: #345d7d;
}
.result {
  margin-left: 20px;
}
/* Bootstrap overrides */
body {
  font-family: 'Open Sans', sans-serif;
}
.btn-default.focus {
  background-color: #fff;
}
.btn-default:hover {
  background-color: #fff;
}
.form-control {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.form-control:focus { 
  border-color: #ccc;
  outline: 0;
  webkit-box-shadow: none;
  box-shadow: none;
}
.input-sm {
  font-size: 13px;
}
label {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 400;
}

